body{
    background-color:#030027;
}

main{
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: clamp(0.1rem, 1.5vw, 1rem);
    line-height: 1.5em;
    padding: 5px;
}

.Section_title {
    background-color: #6399c9;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: #ffffff solid 3px;
}

a{
    text-decoration: none;
}

.Section_title:visited{
    background-color: #6399c9;;
}

.Page_Title{
    background-color: #27557e;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.Info{
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border: #E03616 solid 3px;
    border-radius: 5px;
    text-align: center;
}

.Section_title{
    width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
}

.Section_title:hover{
    background-color: #051f36;
}


.btn-flat {
   margin: 10px auto;
  /* Cor de fundo e texto */
  background-color: #3498db; /* Azul (pode personalizar) */
  color: white;

  /* Remove bordas e sombras */
  border: none;
  border-radius: 0; /* Opcional: cantos retos (ou use `border-radius: 4px` para cantos levemente arredondados) */
  box-shadow: none; /* Remove sombras */

  /* Espaçamento e tipografia */
  padding: 5px 10px;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;

  /* Efeito hover (opcional) */
  transition: background-color 0.3s ease; /* Suaviza a transição de cor */
}

/* Efeito ao passar o mouse (hover) */
.btn-flat:hover {
  background-color: #2980b9; /* Cor mais escura */
}

/* Efeito ao clicar (active) */
.btn-flat:active {
  background-color: #1c6ea4; /* Cor ainda mais escura */
}

